{{title}}
<br><br>
<ul>
  <li *ngFor="let telnr of klant1.tel">{{"tel: " +telnr}}</li>
</ul>

<div *ngFor="let naam of namen">{{naam}}</div>

<ul *ngIf="klant2.tel.length>0">
  <li>test</li>
</ul>
<br><br>
<div *ngIf="klant2.tel.length==0">Geen telefoon</div>


<ul [ngSwitch]="superhero">
  <li *ngSwitchCase="'Groot'">Groot</li>
  <li *ngSwitchCase="'Ironman'">Ironman</li>
  <li *ngSwitchCase="'Hulk'">Hulk</li>
  <li *ngSwitchCase="'Thor'">Thor</li>
  <li *ngSwitchCase="'Spiderman'">Spiderman</li>
  <li *ngSwitchDefault>Batman</li>
</ul>


<ul [ngSwitch]="1+1">
  <li *ngSwitchCase="2">Groot</li>
  <li *ngSwitchCase="3-1">Ironman</li>
  <li *ngSwitchCase="3">Hulk</li>
  <li *ngSwitchCase="5">Thor</li>
  <li *ngSwitchCase="7">Spiderman</li>
  <li *ngSwitchDefault>Batman</li>
</ul>
